<div class="container-fluid position-absolute top-50 start-50 translate-middle">
  <h1>
    <span class="titulo text-lg">
      <br />Todas tus monedas<br />en un solo lugar!<br
    /></span>
  </h1>
  <p class="subtitulo text-md">
    Ahorrá en la moneda que quieras<br />
    Transferí a otras cuentas<br />
    Compra y vende criptomonedas
  </p>

  <div>
    <a routerLink="login"
      ><button type="button" class="btn btn-outline-primary btn-lg btn-block">
        Quiero Registrarme
      </button></a
    >
  </div>
</div>
