<app-navbar></app-navbar>

<div class="container-fluid ">
  <div class="row align-items-center  overflow-hidden">
    
    <div class="col-1">

    </div>

    <div class="col-10 col-lg-5 justify-content-center">
      <div class="card text-center">
            
          <h1>
              <br />Todas tus monedas<br/>en un solo lugar!<br/>
          </h1>

          <h4>
            Ahorrá en la moneda que quieras<br/>
            Transferí a otras cuentas<br/>
            Compra y vende criptomonedas
          </h4>
        
          <div>
            <a routerLink="registro">
              <button type="button" class="btn btn-outline-primary btn-lg btn-block">
                Quiero Registrarme
              </button>
            </a>
          </div>

      </div>
    </div>

    <div class="col-1">

    </div>

    <div class="col-10 col-lg-5 d-none d-lg-block">
      <div class="dash-img">
        <img src="../../../assets/imagenes/img-home.png" class="img-fluid" alt="">
      </div>
    </div>

    <div class="col-1">

    </div>

  </div>
</div>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,800&display=swap" rel="stylesheet">