
<div class="container">
  <div class="row align-items-center">

    <div class="col-12 col-lg-6">
      
       <div class="card justify-center-center">
              
        <h2 class="text-center mb-6 fs-3">INGRESAR DINERO</h2>
          <form [formGroup]='form' (ngSubmit)="save($event)">
            
            <div class="row g-3" >
              
              <div class="col-12 mb-3">
                
                Alias/CBU: <br> 
                <input type="text" formControlName="cvu" 
                class="form-control" placeholder="numero"
                [class.is-invalid]="cvuNovalido">
                <small *ngIf="cvuNovalido" class="text-danger"> ingrese 22 dígitos</small>
           
             </div>
             <div class="col-12 mb-3">
                codigo de seguridad: <br> 
                <input type="number" formControlName="codigo"
                class="form-control" placeholder="numero"
                [class.is-invalid]="codigoNovalido">
                <small *ngIf="codigoNovalido" class="text-danger"> ingrese codigo de seguridad</small> 
               </div>

             <div class="col-12 mb-3">
               ingresar: <br>
               <input type="number" formControlName="ingresar" 
               class="form-control" placeholder="pesos"
               [class.is-invalid]="ingresarNovalido">
               <small *ngIf="ingresarNovalido" class="text-danger"> monto máximo 20000 pesos</small>
             </div>

              <div class="d-grid col-3 mb-3 mx-auto">
                <button type="submit"[disabled]="form.invalid" class="btn btn-primary">Enviar </button> 
              </div>
                  
              </div>
                
            </form>

                <!-- <p *ngIf="registrado">{{mensaje}} (click)="ingresar()"</p> -->
        </div>
  </div>  
</div>
</div>

<!-- <pre>estado del formulario:{{form.valid}} 
  status:{{form.status}}
  </pre>
  <br>
  <pre>
    {{form.value | json}}
  </pre>
  
   -->

