<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-0 fixed-top">
  <a href="#" class="navbar-brand mb-0" routerLinkActive="Active">
    <img
      class="d-inline-block align-self-center"
      src="../../../assets/imagenes/Logo.png"
      alt=""
      width="130px"
    />
  </a>
  <button
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    class="navbar-toggler align-self-center"
    aria-controls="navbarNav"
    aria-expanded="true"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-5" id="navbarNav">
    <ul class="nav navbar-nav ms-auto">
      <li class="nav-item active align-self-center">
        <a href="#" class="nav-link active text-light">
          <b>Quienes Somos</b>
        </a>
      </li>

      <li class="nav-item active align-self-center">
        <a href="#" class="nav-link text-light"><b>Cotizaciones</b></a>
      </li>

      <li class="nav-item active align-self-center">
        <a href="#" class="nav-link" routerLink="registro">
          <button
            type="button"
            class="btn btn btn-outline-light d-inline-block align-center btn-sm"
          >
            Regitrarse
          </button>
        </a>
      </li>
      <li class="nav-item active align-self-center">
        <a href="#" class="nav-link" routerLink="login">
          <button class="btn btn-primary d-inline-block align-center btn-sm">
            Ingresar
          </button>
        </a>
      </li>
    </ul>
  </div>
</nav>
