h1 {
  background-color: darkcyan;
  height: 60px;
  text-align: center;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid rgb(158, 125, 158);
}

thead th:nth-child(1) {
  background-color: rgb(34, 204, 223);
  text-align: right;
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 20px;
}
img {
  max-height: 100px;
  max-width: 100px;
  padding: 10px;
  border-image: repeat;
}
tr {
  text-align: center;
}
