<h4 class="comision">Comision Vigente</h4>
<table class="table">
  <thead class="thead1">
    <tr>
      <!-- <th scope="col"></th> -->
      <th class="col1">TOKEN</th>
      <th class="col2">%ANUAL</th>
      <th class="col3">OTRAS VENTAJAS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">BITCOINT</th>
      <img src="BIT.png" />
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">ETHEREUM</th>
      <img src="ETHEREUM.png" />
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">DOGECOIN</th>
      <img src="descarga.png" />
      <td colspan="2"></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">MONERO</th>
      <img src="unnamed.png" />
      <td colspan="2"></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">PESOS</th>
      <img src="descarga(2).png" />
      <td colspan="2"></td>
      <td></td>
    </tr>
  </tbody>
</table>
