<h1><small>COMISION VIGENTE</small></h1> 

<table summary="#">
  <caption></caption>
  <thead>
    <tr>
      <th scope="col">MONEDAS </th>
        
      <th scope="col">TOKEN</th>
      <th scope="col">PORCENTAJES</th>
      <th scope="col">OTRAS OPCIONES</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">BITCOINT
          <img src="../assets/img/bitcoint.jpg"/>
      </th>
      <td>?</td>
      <td>9%</td>
      <td>Se puede cargar con otra tarjeta</td>
    </tr>
    <tr>
      <th scope="row">EMERETEUM
          <img src="../assets/img/ethereum.jpg"/>
      </th>
      <td>?</td>
      <td>6%</td>
      <td>UALA</td>
    </tr>
