.container {
  background-color: rgb(198, 212, 64);
  bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  width: 100%;
}

.bkcolor{
  /* background-color: #d8d8d8; */
  background: linear-gradient(to right,#333879,#b1bed6);
}
