.bkcolor{
  /* background-color: #d8d8d8; */
  background: linear-gradient(to right,#a6bae9,#333879);
}

.super-chico { 
  font-family: 'Public Sans', sans-serif; 
  font-weight:200;
  font-size:13px;
  color: #f3d9ff;
}