.container{
  display: grid;
  text-align: center;
}
label{
  background-color: cornflowerblue;
  border-radius:15px;
  font-size: 25px;
  padding-top:5px;
  text-align: center;
}
.consulta{
  background-color: cornflowerblue;
  color: beige;
  padding: 20px 20px 20px 40px ;
  text-align: center;
}
.main{
  background-color: rgb(206, 137, 175);
  padding: 5%;
}
.main-2.saldo {
  display:flex;
  margin-block-end: 5%;
  text-align: center;
}
  
  


 
  
  
 


