
.container{   
    display: grid;
    margin:auto;
    width:60%;
    grid-template-columns: 2fr;
    grid-template-rows: 30% 40%;
}

.consulta{
    background:rgb(33, 94, 163);
    border-radius: 5px;
    color: rgb(230, 228, 220);
    margin-top:5%;
    text-align: center;
    
}
.main-1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 40%;
    margin-top:5%;
}
.main-2{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 70%;
    margin-block-end:5%;
}
     
   
    
    
    


