

<div class="container">
    <h3 class= "consulta">CONSULTA DE SALDOS</h3>
    <form class= "main-1">
    <label for="moneda">TIPO DE MONEDA</label>
        
        <select name="tipo de moneda" id="tipo de moneda">
            <option value="Pesos">PESOS</option>
            <option value="Bitcoin">BITCOIN</option>
            <option value="Ethereum">ETHEREUM</option>
            <option value="Dogecoim">DOGECOIM</option>
            <option value="Monero">MONERO</option>
        </select>
   
    <div class= "main-2">    
        <label for="saldo">SALDO</label>
         <input id="number" type="number">
    </div>
    
    <div class= "main-3">    
        <label for="otras operaciones">OTRAS OPERACIONES</label>
    </div>
    
    <div class= "main-4">    
        <select name="otras operacciones" id="otras operaciones">
            <option value="transferencias">TRANSACCIONES</option>
            <option value="compra de criptos">COMPRA DE CRIPTOS</option>
            <option value="cotizacion">COTIZACION</option>
        </select>
    </div>
            
   </form>
</div>    
        
        









    
   