

    <h3 class= "consulta">CONSULTA DE SALDOS</h3>
<form class= "main">
    <div class="container">
      <label for="moneda">TIPO DE MONEDA</label>
        
        <select name="tipo de moneda" id="tipo de moneda">
            <option value="Ethereum">ETHEREUM</option>
            <option value="Bitcoin">BITCOIN</option>
            <option value="Dogecoim">DOGECOIM</option>
            <option value="Monero">MONERO</option>
        </select>
        
        <div class= "main-2">    
            <label for="saldo">SALDO</label>
        </div>
        <input id="number" type="number">
            
        <div class= "main-3">    
            <label for="otras operaciones">OTRAS OPERACIONES</label>
        </div>
   
        <div class= "main-4">
            <select class="custom-select">
                <option selected>TRANSACCIONES</option>
                <option value="1">COMPRA DE CRIPTOS</option>
                <option value="2">COTIZACIÒN</option>
            </select>
        </div>    
    </div>
</form>
        

          
    
    
    
            
    
        






      
            
        
        









    
   