<nav class="navbar navbar-dark navbar-expand-lg bg-dark p-0 fixed-top">
    <a href="#" class="navbar-brand px-3" routerLinkActive="Principal">
      <img class="d-inline-block align-self-center" src="../../../assets/imagenes/Logo.png" alt="" width="120px"/>
    </a>
  
    <ul class="nav navbar-nav ms-auto px-3">

      <li class="nav-item active align-self-center">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none px-3" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
              <strong>APerez</strong>
          </a>
      </li>

    </ul>
    
  </nav>
  

  