.card {
    padding: 30px 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border: none ;
    background-color:#d6e8fa;
    color:rgb(80, 101, 122);
}
