<section class="signup bg-light">
  <div class="container">
    <div class="row m-5">
      <div class="col d-flex justify-content-center">
        <h2>Registrate en MyCoin</h2>
      </div>
    </div>  
    
    <div class="row m-4">
        <div class="col">
          <div class="signup-form">
              <div class="box-body">

                <div class="form-floating mb-1">
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                  <label for="floatingInput">Correo electrónico<span class="text-danger"> *</span></label>
                </div>

                <div class="form-floating mb-1">
            
                  <input type="text" class="form-control inp-alt" id="floatingInput" placeholder="nombres">
                  <label for="floatingInput">Nombres<span class="text-danger"> *</span></label>
              
                </div>
            
                <div class="form-floating mb-1">
            
                  <input type="id" id="DNI" class="form-control" id="floatingInput" placeholder="DNI">
                  <label for="floatingInput">Número de Documento<span class="text-danger"> *</span></label>
            
                </div>
            
                <div class="form-floating mb-1">
            
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                  <label for="floatingPassword">ingrese una Contraseña<span class="text-danger"> *</span></label>
            
                </div>
            
                <div class="form-floating mb-1">
            
                  <input type="password" class="form-control" id="floatingPassword2" placeholder="Ingrese nuevamente su Contraseña">
                  <label for="floatingPassword">Confirme su Contraseña<span class="text-danger"> *</span></label>
              
                </div>
            
            </div>
                
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          <img src="assets/Regist-img.jpg"  class="img-fluid ">
        </div>
      </div>

      <div class="row mb-5 mt-5">
        <div class="col d-flex justify-content-center">
          <button type="button" class="btn btn-primary">Registrar</button>
          <!-- <div class="form-group form-button m-3 p-3">
            <input type="submit" name="signup" id="signup" class="form-submit" value="Registrar"/>
          </div> -->
        </div>
        <div class="col d-flex justify-content-center align-itms-center">
          <button type="button" class="btn btn-secondary" routerLink="../login">Ya tengo una cuenta</button>
        </div>
      </div>
  </div>
</section>
