<section class="signup">
  <div class="container">
      <div class="signup-content">
        <div class="row">
          <div class="col">
            <div class="signup-form">
                <h2 class="form-title">Registrate en MyCoin</h2>
                <div class="box-body">
                  
                  <div class="form-floating">
              
                      <input type="name" name="nombre" class="form-control" id="floatingInput" placeholder="ingrese su nombre">
                      <label for="floatingInput">Nombre Completo</label>
                
                    </div>
              
                  <div class="form-floating">
              
                    <input type="id" id="DNI" class="form-control" id="floatingInput" placeholder="Ingrese su número de documentación">
                    <label for="floatingInput">Número de Documento</label>
              
                  </div>
              
                  <div class="form-floating">
              
                      <input type="email" class="form-control" id="floatingInput" placeholder="correo@ejemplo.com">
                      <label for="floatingInput">Dirección de Correo</label>
                
                    </div>
              
                  <div class="form-floating">
              
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                    <label for="floatingPassword">ingrese una Contraseña</label>
              
                  </div>
              
                  <div class="form-floating">
              
                      <input type="password" class="form-control" id="floatingPassword2" placeholder="Ingrese nuevamente su Contraseña">
                      <label for="floatingPassword">Confirme su Contraseña</label>
                
                  </div>
              
              </div>
                  <div class="form-group form-button">
                      <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                  </div>
            </div>
          </div>

          <div class="col">
            <div class="signup-image">
                <figure><img src="assets/Regist-img.jpg"  class="img-fluid "></figure>
                <a href="#" class="signup-image-link">Ya tengo una cuenta</a>
            </div>
          </div>
        </div>

      </div>
  </div>
</section>







<!-- 

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">

      <div class="row align-itms-center">
        <div class="col-12">
          <form>
            <h1 class="h3 mb-3 fw-normal">Registro</h1>     
          
              <div class="box-body">
                  <div class="form-floating">
              
                      <input type="name" name="nombre" class="form-control" id="floatingInput" placeholder="ingrese su nombre">
                      <label for="floatingInput">Nombre Completo</label>
                
                    </div>
              
                  <div class="form-floating">
              
                    <input type="id" id="DNI" class="form-control" id="floatingInput" placeholder="Ingrese su número de documentación">
                    <label for="floatingInput">Número de Documento</label>
              
                  </div>
              
                  <div class="form-floating">
              
                      <input type="email" class="form-control" id="floatingInput" placeholder="correo@ejemplo.com">
                      <label for="floatingInput">Dirección de Correo</label>
                
                    </div>
              
                  <div class="form-floating">
              
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                    <label for="floatingPassword">ingrese una Contraseña</label>
              
                  </div>
              
                  <div class="form-floating">
              
                      <input type="password" class="form-control" id="floatingPassword2" placeholder="Ingrese nuevamente su Contraseña">
                      <label for="floatingPassword">Confirme su Contraseña</label>
                
                  </div>
              
              </div>

              <div class="d-flex justify-content-center">
                <button class="btn btn-lg btn-primary mt-4" type="submit">registrarse</button>
              </div>
    
          
            </form>
        </div>
      </div>  
    </div>

    <div class="col-4"></div>
  </div>
</div>
 -->