
<div class="row box-centered padd-top">

    <div class="col-12 col-lg-6 text-left px-5">
        <div class="card bg-transparent stl border-0">
            <h1>
                <span class="titulo">
                        <h1>Bienvenido a tu Dashboard</h1>
                        <h4>Desde este panel vas a poder acceder <br> a todos los servicios que tenemos <br> preparados para vos.</h4>
                </span>
            </h1>
        </div>
    </div>
    <div class="col-12 col-lg-6 box-centered">
        <div class="dash-img">
            <img src="../../../assets/imagenes/img-dashboard.png" class="img-fluid" alt="">
        </div>
    </div>
</div>

