<!-- <div class="container-fluid">

    
</div> -->

<div class="row  align-items-center">
    <div class="col-12 col-lg-7 text-center">
        <div class="card">
            <h1>
                <span class="titulo">
                    <br />Bienvenido a tu Dashboard<br/>
                </span>
            </h1>
        </div>
    </div>
    <div class="col-12 col-lg-5 d-none d-lg-block">
        <div class="dash-img">
            <img src="../../../assets/imagenes/img-dashboard.png" class="img-fluid" alt="">
        </div>
    </div>
</div>