.dash-img {
  vertical-align: middle;
  border: 0;
  width: 100%;
  height: auto;
}
/* .stl {
    padding: 30px 30px;
    margin-top: 20px;
    margin-bottom: 210px;
    margin-left: 20px;
    margin-right: 10px;
    border: none ;
    box-shadow: 0 6px 12px 0 rgb(0 0 0 / 20%);
    background-color:#d6e8fa;
    color:rgb(199, 76, 27);
    border-radius: 20px;
  }
 */


.overf {
  overflow: hidden;
}

.marg-form-d {
  margin-left: 60px;
  margin-right: 60px;
  padding-left: 34px;
  padding-right: 34px;
}
