.side-navbar {
  width: 120px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  /* background-color: #100901; */
  transition: 0.5s;
  overflow: hidden;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
  overflow: hidden;
  height: 100vh;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 115px;
}

/* #menu-btn {
  background-color: #100901;
  color: #fff;
  margin-left: -62px;
} */

.cont-dash{
  margin-left:1px;
}