
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="shadow" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
       
    <div class="sidebar-heading">Pesos</div>

    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-transparent" routerLink="ingresardinero">Ingresar dinero</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent" routerLink="retirar">Retirar dinero</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent" routerLink="oppesos">Operaciones</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent" routerLink="transferir">Transferir</a>
    </div>

    <div class="sidebar-heading">Cryptos</div>

    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-transparent" routerLink="comprar">Comprar</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent" routerLink="vender">Vender</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent" routerLink="opcripto">Operaciones</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent" routerLink="swap">Swap</a>
    </div>

    <div class="sidebar-heading">Opciones</div>

    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-transparent" routerLink="principal">Panel principal</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent" routerLink="comprar">Mis datos</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent" routerLink="vender">Preferencias</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent" routerLink="opcripto">Cerrar sesión</a>
    </div>

  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">

<!-- 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
     
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="button">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <button class="btn btn-primary" (click)="clickEvent()">Menu</button>

 -->

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>

    
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->