body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -10rem;
  margin-right: 0.5rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color:#c8d6f5;  
}

.sidebar-heading {
  background-color:#a6bae9;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.25rem 0.875rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(75, 75, 75);
}

#sidebar-wrapper .list-group {
  width: 10rem;
  background-color:#c8d6f5;
  padding: 0.05rem 0.4rem;
}

#page-content-wrapper {
  min-width: 100vw;
  padding-top: 5px;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  .show
  {
    margin-left: 0!important;
  }
  .hide
  {
    margin-left: -10rem!important;
  }
}
@media (max-width: 767px) {
  .show
  {
    margin-left: -10rem!important;
  }
  .hide
  {
    margin-left: -0!important;
  }
}