<dash-navbar></dash-navbar>

<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="shadow" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
       
    <div class="sidebar-heading">Pesos</div>

    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-transparent p-2" routerLink="ingresardinero">Ingresar dinero</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent p-2" routerLink="retirar">Retirar dinero</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent p-2" routerLink="oppesos">Operaciones</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent p-2" routerLink="transferir">Transferir</a>
    </div>

    <div class="sidebar-heading">Cryptos</div>

    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-transparent p-2" routerLink="comprar">Comprar</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent p-2" routerLink="vender">Vender</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent p-2" routerLink="opcripto">Operaciones</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent p-2" routerLink="swap">Swap</a>
    </div>

    <div class="sidebar-heading">Opciones</div>

    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-transparent p-2" routerLink="principal">Panel principal</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent p-2" routerLink="comprar">Mis datos</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent p-2" routerLink="vender">Preferencias</a>
      <a href="#" class="list-group-item list-group-item-action bg-transparent p-2" routerLink="opcripto">Cerrar sesión</a>
    </div>

  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">


    <button class="btn btn-primary" (click)="clickEvent()">Menu</button>



    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>

    
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->