body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -10rem;
  margin-right: 0.5rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color:#f1f5ff;  

}

.sidebar-heading {
  background-color:#dde6f8;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.15rem 0.875rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(75, 75, 75);
  font-family: 'Public Sans', sans-serif; 
  font-weight:400;
}

#sidebar-wrapper .list-group {
  width: 10rem;
  background-color:#f1f5ff;
  padding: 0.05rem 0.4rem;
  
  font-family: 'Public Sans', sans-serif; 
  font-weight:400;
  font-size:14px;
}

#page-content-wrapper {
  min-width: 100vw;
  /* padding-top: 1px; */
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  .show
  {
    margin-left: 0!important;
  }
  .hide
  {
    margin-left: -10rem!important;
  }
}
@media (max-width: 767px) {
  .show
  {
    margin-left: -10rem!important;
  }
  .hide
  {
    margin-left: -0!important;
  }
}

.marg-top { 
  margin-top: 5px;
  /* padding-top: 50px; */
  /* height:1vh; */
}