
    <div class="container">
        <div class="row align-items-center">

            <div class="col-12 col-lg-6">
            
                <div class="card justify-center-center">
                    
                    <h5 class="text-center mb-4 fs-4">TRANSFERENCIAS</h5>

                    <form [formGroup]="formulario" (ngSubmit)="verificar()" class="row g-1">
                    

                            <div class="col-12 mb-3">
                                <label for="destino" class="form-label">Enviar dinero a:<span class="text-danger"> *</span></label>
                                <input type="text" class="form-control" id="destino" placeholder="CVU/CBU" formControlName="destino">
                                
                                <div *ngIf="destino?.valid"></div>
                                <div *ngIf="destino?.invalid && (destino?.dirty || destino?.touched)">
                                    <div *ngIf="destino?.hasError('required')">
                                    <p>Este campo es requerido.</p>
                                    </div>
                                    <div *ngIf="destino?.hasError('minlength') || destino?.hasError('maxlength')">
                                        <p>El CBU o CVU debe tener 22 digitos.</p>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="col-12 mb-3">
                                <label for="moneda" class="form-label">Moneda<span class="text-danger"> *</span></label>
                                <select class="form-select" id="moneda" formControlName="moneda">
                                    <option selected disabled value="">Seleccione una moneda</option>
                                    <option value="peso">Pesos</option>
                                    <option value="bitcoin">Bitcoin</option>
                                    <option value="ethereum">Ethereum</option>
                                    <option value="dogecoin">Dogecoin</option>
                                    <option value="monero">Monero</option>
                                </select>

                                <div *ngIf="moneda?.valid"></div>
                                <div *ngIf="moneda?.invalid && (moneda?.dirty || moneda?.touched)">
                                    <div *ngIf="moneda?.hasError('required')">
                                    <p>Seleccione una opción.</p>
                                    </div>
                                </div>

                            </div>
                            
                            <div class="col-12 mb-3">
                                <label for="monto" class="form-label">Monto a transferir<span class="text-danger"> *</span></label>
                                <input type="text" class="form-control" placeholder="Importe" formControlName="monto">
                                <div class="valid-feedback">Ok!</div>
                                <div class="invalid-feedback">Por favor, complete el campo</div>
                            </div>
                            
                            <div class="col-12 mb-3">
                                <label for="concepto" class="form-label">Concepto<span class="text-danger"> *</span></label>
                                <select class="form-select" id="concepto" formControlName="concepto">
                                    <option selected disabled value="">Seleccione una opción</option>
                                    <option value="1">Alquiler</option>
                                    <option value="2">Aportes de capital</option>
                                    <option value="3">Bienes registrables</option>
                                    <option value="4">Cuota</option>
                                    <option value="5">Expensas</option>
                                    <option value="6">Factura</option>
                                    <option value="7">Haberes</option>
                                    <option value="8">Honorarios</option>
                                    <option value="9">Operaciones inmobiliarias</option>
                                    <option value="10">Préstamo</option>
                                    <option value="11">Seguro</option>
                                    <option value="12">Varios</option>
                                </select>
                                <div class="valid-feedback">Ok!</div>
                                <div class="invalid-feedback">Por favor, seleccione una opción</div>
                            </div>
                            
                            <div class="col-12 mb-3">
                                <label for="referencia" class="form-label">Referencia</label>
                                <input type="text" id="referencia" class="form-control" placeholder="Referencia" formControlName="referencia">
                            </div>
    
                            <div class="d-grid col-6 mb-3 mx-auto">
                                <button class="btn btn-primary" type="submit">Transferir</button>
                            </div>
                   
                        
                    </form>
                    
                </div>
                
            </div>

            <div class="col-12 col-lg-6 d-none d-lg-block">
                
                <img src="assets/Transf/89.png" class="img-fluid" alt=""> 
                
                 
            </div>
        </div>
    </div>
