

<div class="container justify-center-center">
    <div class="row align-items-center">

        <div class="col-12 col-lg-6">
        
            <div class="card">
                
                <h5 class="text-center mb-4 fs-4">COMPRAR CRIPTOMONEDAS</h5>

                <form class="row g-1 needs-validation" novalidate>
                
                        
                        <div class="col-12 mb-3">
                            <label for="Moneda" class="form-label">Moneda a comprar<span class="text-danger"> *</span></label>
                            <select class="form-select" id="moneda" required>
                                <option selected disabled value="">Seleccione Criptomoneda que desea comprar</option>
                                <option value="1">Bitcoin</option>
                                <option value="2">Ethereum</option>
                                <option value="3">Dogecoin</option>
                                <option value="4">Monero</option>
                            </select>
                            <div class="valid-feedback">Ok!</div>
                            <div class="invalid-feedback">Por favor, seleccione una opción</div>
                        </div>
                        
                        <div class="col-12 mb-3">
                            <label for="Moneda" class="form-label">Monto a comprar<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" placeholder="Monto" required>
                            <div class="valid-feedback">Ok!</div>
                            <div class="invalid-feedback">Por favor, complete el campo</div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <label for="concepto" class="form-label">Pagar con...<span class="text-danger"> *</span></label>
                                <div class="col-10">
                                    <div class="col-12 mb-3">
                                        <select class="form-select" id="selectmonedas" required>
                                            <option selected disabled value="">Seleccione con que desea pagar</option>
                                            <option value="1">Peso</option>
                                            <option value="2">Bitcoin</option>
                                            <option value="3">Ethereum</option>
                                            <option value="4">Dogecoin</option>
                                            <option value="5">Monero</option>
                                        </select>
                                        <div class="valid-feedback">Ok!</div>
                                        <div class="invalid-feedback">Por favor, seleccione una opción</div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <img class="mx-auto d-block" id="imgmoneda" width="40" src="assets/monedas/blank.png"/>
                                </div>
                            </div>
                        </div>

                        <div class="d-grid col-6 mx-auto">
                            <button class="btn btn-primary" type="submit">Comprar</button>
                        </div>
               
                    
                </form>
                
            </div>
            
        </div>

        <div class="col-12 col-lg-6 d-none d-lg-block">
            
            <img src="../../../assets/comp-cripto/aaa.png" class="img-fluid" alt="">
            
        </div>
    </div>
</div>
